* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #E5ECF9;
}

.container {
    display: flex;
    height: 700px;
    width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: 150px ;
    margin-top: 150px;
}
    
.info {
    background-image: url(81164839-vector-background-of-the-veterinary-icons.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 150px 50px;
    width: 50%;
}

.txt-1 {
    color: rgb(119, 38, 196);
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 25px;
}

.info h2 {
    color: blueviolet;
    text-transform: uppercase;
    font-size: 45px;
    margin-bottom: 25px;
}

.info hr {
    width: 55px;
    border: 4px solid #fff;
    margin-left: 100px;
    margin-bottom: 25px;
}

.txt-2 {
    color: rgb(118, 57, 175);
    font-size: 15px;
}

.form {
    padding: 150px 100px;
    width: 50%;
    text-align: center;
    background-color: aquamarine;
}

.form h2 {
    color: rgb(188, 80, 241);
    font-size: 30px;
    margin-bottom: 25px;
}

.form p {
    font-size: 16px;
    color: #a57aad;
    margin-bottom: 25px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.box {
    outline: none;
    border-color: rgb(196, 185, 207);
    border-width: 0px 0px 0px 5px;
    border-style: solid;
    padding: 15px 35px;
    margin-bottom: 20px;
    background-color: #f9f9f9;    
}

.inputs a {

    color: blue;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 35px;
}

.submit {
    background-color: rgb(33, 182, 182);
    padding: 15px;
    border: 0;
    color: rgb(30, 90, 124);
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 25px;
}

@media(max-width:990px) {
    
    .container{
        width: 350px;
        height: 600px;
        margin-top: 100px;
    }

    .info {
        display: none;
    }
    
    .form {
        width: 100%;
        padding: 30px;
    }
    
    .form h2 {
        margin-top: 40px;
    }
}